.applepay {
    background: #A9FF2C;
    border-radius: 20px;
    height: 260px;
    width: 1273px;
    margin: 0 auto;
    margin-bottom: 100px;

    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        line-height: 51px;
        color: #000000;
        padding-top: 13px;
        padding-left: 30px;
        padding-bottom: 43px;

    }

}