.otel {

    display: flex;
    margin-top: 150px;
    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 52px;
        line-height: 58px;
        color: #000000;
        height: 290px;
        width: 806px;
        text-align: center;
    }
}