.phone {
    background-image: url(/img/order-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

    img {
        margin: 0 20px;
    }
}